$primary-color: #96bb7c;
$danger-color: #e74040;
$dark-bg-color: #2d4059;
$text-color: #252b42;
$secondary-color: #ffab71;
$light-bg-color: #ffffff;
$light-gray-color: #fafafa;
$muted-color: #bdbdbd;
$secondary-light-color: #f3cd03;
$faded-secondary-color: #fff2f3;
$second-text-color: #737373;
$faded-primary-color: #eff8ed;
$alert-color: #e77c40;
$secondary-color-red: #ff7171;
$success-color: #2dc071;
$disabled-element-color: #8ec2f2;
$faded-secondary-color-blue: #ddf4ff;
$hover-color: #2a7cc7;
$light-gray-2: #ececec;
